:host {
  display: block;
}

.row {
  display: flex;
}

.box {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 0px solid #ccc;
  border-radius: 0px;

  /* centrer tekst */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  color: #ffffffcc;
  /* hvid med lidt transparens */
  text-shadow: 0 0 3px #000;
  /* læsbar tekst på mørke farver */
}